
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-generator {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.password-generator.weak {
  background-color: #ff0202; /* Red for weak password */
}

.password-generator.good {
  background-color: #ffef60; /* Yellow for good password */
}

.password-generator.strong {
  background-color: #55ff00; /* Green for strong password */
}



.password-generator {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .password-generator h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .password-generator div {
    margin-bottom: 10px;
  }
  
  .password-generator label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .password-generator button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .password-generator button:hover {
    background-color: #0056b3;
  }
  
  .password-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .password-result span {
    font-family: monospace;
    font-size: 16px;
  }
  
  .password-result button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 8px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .password-result button:hover {
    background-color: #218838;
  }
  
  .password-result button:active {
    background-color: #1e7e34;
  }
  