<div style="background-image: url(../../assets/OIG.jpg);">


<div class="container">
  <div [ngClass]="getPasswordStrength(generatedPassword)" class="password-generator">
    <h2>Password Generator</h2>

    <div class="form-group">
      <label for="passwordLength">Password Length:</label>
      <input type="number" [(ngModel)]="passwordLength" id="passwordLength" class="form-control" />
    </div>

    <div class="form-check">
      <input type="checkbox" [(ngModel)]="includeUppercase" id="includeUppercase" class="form-check-input" />
      <label for="includeUppercase" class="form-check-label">Include Uppercase Letters</label>
    </div>

    <div class="form-check">
      <input type="checkbox" [(ngModel)]="includeNumbers" id="includeNumbers" class="form-check-input" />
      <label for="includeNumbers" class="form-check-label">Include Numbers</label>
    </div>

    <div class="form-check">
      <input type="checkbox" [(ngModel)]="includeSpecialChars" id="includeSpecialChars" class="form-check-input" />
      <label for="includeSpecialChars" class="form-check-label">Include Special Characters</label>
    </div>

    <button (click)="generatePassword()" class="btn btn-primary">Generate Password</button>

    <div *ngIf="generatedPassword" class="password-result">
      <h3>Generated Password:</h3>
      <div class="result-container" #passwordResult>
        <span>{{ generatedPassword }}</span>
        <button (click)="copyToClipboard()" class="btn btn-success">Copy</button>
      </div>
    </div>
  </div>
</div>
</div>